/* InputForm.css */
.top-fields {
  display: flex;
}
.display-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.general-info {
}
.container {
  margin: auto;
  padding: 20px;
}
.top-field {
  display: flex;
}
.top-left-fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: flex-start;
}

.top-field label {
  display: inline-flex;
  text-align: left;
  margin-right: 10px;
  width: 200px; /* Adjust the width as per your requirement */
  align-items: center;
}

.top-field input {
  margin-right: 10px;
  flex: 1;
  width: 150px; /* Adjust the width as per your requirement */
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

div {
  text-align: center;
}

h1 {
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 8px;
  color: #333;
}

input,
select {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

.top-right-fields {
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* Adjust the margin as per your requirement */
}

.right-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust the margin as per your requirement */
}

.right-field label {
  width: 250px; /* Adjust the width as per your requirement */
  text-align: left;
  margin-right: 10px; /* Adjust the margin as per your requirement */
}

.right-field input {
  flex: 1;
}

.icon-wrap {
  position: relative;
}

.icon-code {
  position: absolute;
  left: 8px;
  top: 10px;
}

.text-currency {
  border: solid 1px #ccc;
  border-radius: 5px;
}

.align-right {
  text-align: right;
}

.goals-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.goals {
}

.goals-heading {
  text-align: left;
}

.goal-row {
  display: flex;
  align-items: center;
}

.goal-row input,
select {
  flex: 1;
  margin-right: 10px;
  width: 150px;
}

.goal-row label {
  width: 150px;
  margin-right: 10px;
  padding: 10px;
  text-align: left;
  font-style: italic;
  font-size: 0.8rem;
}

.align-self-center {
  align-self: center;
}

.align-self-left {
  align-self: flex-start;
}

input[readonly] {
  background-color: #f5f5f5; /* Set a different background color for readonly fields */
  border: 1px solid #ccc; /* Add a border to readonly fields */
}

.goal-row input.small-input {
  width: 75px;
}
.goal-row label.small-input {
  width: 75px;
}

.bottomRightInput {
  position: static;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin: 10px;
}

/** Add and remove buttons starts **/
.add-remove-button {
  border: none;
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: border-radius 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

/* Style for the original round button. */
.add-button {
  background-color: #4caf50 !important;
  color: white;
}

.remove-button {
  background-color: #f44336 !important;
  color: white;
}

/* Style for the elongated button on hover. */
.add-remove-button:hover {
  /* Increase width to accommodate the text. */
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

/* Add content for buttons on hover. */
.add-button:hover::after {
  content: " Add";
}

.remove-button:hover::after {
  content: " Remove";
}

/** Add and remove buttons ends **/
